body {
    background-image: linear-gradient(#fffacd, #f4cd69);
    width: 1920px;
    height: 1080px;
}

.honey-head {
    display: flex;
    flex-direction: row;
}

.honey-drip-img {
    max-width: 100%;
    width: 960px;
}

.buddypage-logo {
    margin-top: 55px;
    margin-left: 100px;
    width: 500px;
}

.amount-of-honey {
    flex-direction: column;
}

.amount-of-honey-text {
    color: #000;
    font-family: locus_sangsang;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    margin-top: 10px;
}

.amount-of-honey-num {
    color: #FFD640;
    font-family: "Bagel Fat One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.3), 
    -1px -1px 1px rgba(255, 255, 255, 0.6); 
}

.buddypage-header {
    display: flex;
    flex-direction: row;
}

.calender-button {
    all: unset; /* 모든 기본 스타일 제거 */
    cursor: pointer; /* 마우스 커서 변경 */
    color: #FFD640; /* 원하는 색상 지정 */
    font-size: 32px;
    font-family: "Bagel Fat One";
    margin-left: 250px;
    height: 35px;
    margin-top: 10px;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.3), 
    -1px -1px 1px rgba(255, 255, 255, 0.6); 
}

.buzzlist-button {
    all: unset; /* 모든 기본 스타일 제거 */
    cursor: pointer; /* 마우스 커서 변경 */
    color: #FFD640; /* 원하는 색상 지정 */
    font-size: 32px;
    font-family: "Bagel Fat One";
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.3), 
    -1px -1px 1px rgba(255, 255, 255, 0.6); 
}

.mypage-button {
    all: unset; /* 모든 기본 스타일 제거 */
    cursor: pointer; /* 마우스 커서 변경 */
    color: #FFD640; /* 원하는 색상 지정 */
    font-size: 32px;
    font-family: "Bagel Fat One";
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.3), 
    -1px -1px 1px rgba(255, 255, 255, 0.6); 
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 40px;
    margin-top: 85px;
    margin-left: 30px;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
}

.search-box input::placeholder {
    color: #888;
    font-family: locus_sangsang;
    font-size: larger;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.honeypot-img {
    width: 80px;
    height: 80px;
}

.my-profile {
    display: flex;
    width: 900px;
    padding: 21px 23px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 30px;
    background: #FFFEEC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    margin-left: 100px;
}

.profile-border {
    display: flex;
    width: 80px;
    padding: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #FFEF96;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.profile-border2 {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #FFEF96;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.bee-text {
    color: #000;
    text-align: center;
    font-family: "Bagel Fat One";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.user-id {
    align-self: stretch;
    color: #FFC74D;
    font-family: "Jalnan 2";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
    margin-top: 20px;
}

.fighting {
    align-self: stretch;
    color: #6E5A5A;
    text-align: center;
    font-family: locus_sangsang;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
}

.column-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.follower-num {
    align-self: stretch;
    color: #787468;
    text-align: center;
    font-family: locus_sangsang;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

.follower-list-text {
    color: #8A8A8A;
    font-size: 20px;
    margin-left: 20px;
}

.following-num {
    align-self: stretch;
    color: #787468;
    text-align: center;
    font-family: locus_sangsang;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 13px;
}

.following-list-text {
    color: #8A8A8A;
    font-size: 20px;
    margin-left: 13px;
}

.follower-list {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 362px;
    padding: 37px 31px 36px 32px;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    margin-left: 100px;
    overflow-y: scroll;
    height: 360px;
    padding: 20px;
    scrollbar-width: thin;
}


.follower-title {
    font-family: "Bagel Fat One";
    font-size: 30px;
    color: #5e4a00;
    margin-bottom: 10px;
    margin-left: 5px;
}

.follower-header {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    font-family: locus_sangsang;
    font-size: 16px;
    color: #8a8a8a;
    margin-bottom: 20px;
    padding-left: 10px;
}

.follower-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.follower-item .bee-icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.follower-nickname {
    font-family: "Bagel Fat One";
    font-size: 20px;
    color: #5e4a00;
    margin-left: 5px;
}

.friend-profile {
    width: 687px;
    height: 520px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    position: absolute;
    top: 370px;
    left: 1100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.friend-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.friend-info .friend-nickname {
    font-size: 24px;
    font-family: "Bagel Fat One";
    color: #FFAE00;
}

.cheer-msg {
    font-size: 14px;
    color: #555;
    font-family: locus_sangsang;
}

.follow-button {
    margin-left: auto;
    margin-right: 27px;
    padding: 8px 16px;
    background-color: #FFD640;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}

.friend-honey {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
}

.honeypot-icon {
    width: 200px;
    height: 200px;
}

.honey-value {
    font-size: 50px;
    color: #FFD640;
    font-family: "Bagel Fat One";
}

.calendar-button {
    align-self: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #604500;
    color: white;
    border-radius: 16px;
    font-family: "Bagel Fat One";
    cursor: pointer;
    justify-content: center;
    height: 70px;
    width: 300px;
    font-size: 28px;
}   

.row {
    display: flex;
    flex-direction: row;
}

.profile-img {
    width: 70px;
    height: 70px;
}

/*
.follower-list-heading {
    align-self: stretch;
    color: #736153;
    font-family: locus_sangsang;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 160px;
}

.follower-profile-text {
    color: #8A8A8A;
    font-family: locus_sangsang;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.friend-profile-border {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #FFEF96;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.friend-profile-img {
    color: #000;
    text-align: center;
    font-family: "Bagel Fat One";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.follower-nickname-text {
    color: #8A8A8A;
    font-family: locus_sangsang;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.follower-nickname-url {
    align-self: stretch;
    color: #6E5A5A;
    font-family: "Jalnan 2";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}












.friend-profile {
    width: 687px;
    height: 520px;
    flex-shrink: 0;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 400px;
    left: 1100px;
}

