body {
    background-image: linear-gradient(#fffacd, #f4cd69);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-wrapper {
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.honey-head {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.honey-drip-img {
    width: 50vw;         
    height: auto;     
    object-fit: cover;    
    display: block;
}

.buddypage-logo {
    margin-top: 45px;
    width: 280px;
}

.amount-of-honey {
    flex-direction: column;
}

.amount-of-honey-text {
    color: #000;
    font-family: locus_sangsang;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.2px */
    margin-top: 10px;
}

.amount-of-honey-num {
    color: #FFD640;
    font-family: "Bagel Fat One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.3), 
    -1px -1px 1px rgba(255, 255, 255, 0.6); 
}

.left-wrapper {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 28px;
}

.buddypage-header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; /* 또는 flex-start도 가능 */
    box-sizing: border-box;
}

.top-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;           
    padding: 0;             
    margin: 0;              
    box-sizing: border-box;
}

.calendar-button1 {
    all: unset; /* 모든 기본 스타일 제거 */
    cursor: pointer; /* 마우스 커서 변경 */
    color: #FFD640; /* 원하는 색상 지정 */
    font-size: 26px;
    font-family: "Bagel Fat One";
    margin-left: 50px;
    height: 35px;
    margin-top: 10px;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.3), 
    -1px -1px 1px rgba(255, 255, 255, 0.6); 
}


.mypage-button {
    all: unset; /* 모든 기본 스타일 제거 */
    cursor: pointer; /* 마우스 커서 변경 */
    color: #FFD640; /* 원하는 색상 지정 */
    font-size: 26px;
    font-family: "Bagel Fat One";
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.3), 
    -1px -1px 1px rgba(255, 255, 255, 0.6); 
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 20px;
    margin-top: 55px;
    margin-left: 10px;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 13px;
    color: #333;
}

.search-box input::placeholder {
    color: #888;
    font-family: locus_sangsang;
    font-size: 13px;
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.honeypot-img {
    width: 80px;
    height: 80px;
}

.my-profile {
    display: flex;
    align-items: center;
    width: 600px;
    height: 90px;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 30px;
    background: #FFFEEC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile-border {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    background: #FFEF96;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.profile-border2 {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100%;
    background: #FFEF96;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.bee-text {
    color: #000;
    text-align: center;
    font-family: "Bagel Fat One";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user-id {
    align-self: stretch;
    color: #FFC74D;
    font-family: "Bagel Fat One";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
    margin-top: 10px;
}

.fighting {
    align-self: stretch;
    color: #6E5A5A;
    text-align: center;
    font-family: "Jua";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
}

.column-center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.myclass2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.follower-num {
    align-self: stretch;
    color: #787468;
    text-align: center;
    font-family: locus_sangsang;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

.follower-list-text {
    color: #8A8A8A;
    font-size: 20px;
    margin-left: 20px;
}

.following-num {
    align-self: stretch;
    color: #787468;
    text-align: center;
    font-family: locus_sangsang;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 13px;
}

.following-list-text {
    color: #8A8A8A;
    font-size: 20px;
    margin-left: 13px;
}

.follower-list {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 300px;
    padding: 37px 31px 36px 32px;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
    overflow-y: scroll;
    padding: 10px;
    scrollbar-width: thin;
}


.follower-title {
    font-family: "Bagel Fat One";
    font-size: 25px;
    color: #5e4a00;
    margin-bottom: 10px;
    margin-left: 5px;
}

.follower-header {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    font-family: locus_sangsang;
    font-size: 16px;
    color: #8a8a8a;
    margin-bottom: 20px;
    padding-left: 10px;
}

.follower-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.follower-item .bee-icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.follower-nickname {
    font-family: "Bagel Fat One";
    font-size: 20px;
    color: #5e4a00;
    margin-left: 5px;
}

.friend-profile {
    width: 400px;
    height: 300px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 30px;
}

.friend-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.friend-info .friend-nickname {
    font-size: 24px;
    font-family: "Bagel Fat One";
    color: #FFAE00;
}

.cheer-msg {
    font-size: 14px;
    color: #555;
    font-family: "Jua";
}

.follow-button {
    margin-left: auto;
    padding: 8px 16px;
    background-color: #FFD640;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.friend-honey {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
}

.honeypot-icon {
    width: 130px;
    height: 130px;
}

.honey-value {
    font-size: 50px;
    color: #FFD640;
    font-family: "Bagel Fat One";
}

.calendar-button {
    align-self: center;
    text-align: center;
    padding: 10px 20px;
    background-color: #604500;
    color: white;
    border-radius: 16px;
    font-family: "Bagel Fat One";
    cursor: pointer;
    justify-content: center;
    height: 60px;
    width: 200px;
    font-size: 17px;
}   

.profile-img {
    width: 70px;
    height: 70px;
}

