{% block content %} 
{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/mainpage.css'%}"
/>
<title>main page</title>
<body>
    <div class="honey-head">
        <img src="{% static 'assets/images/mainpage_img7.png' %}"
        alt="honey drip"
        class="honey-drip-img">
        <img src="{% static 'assets/images/mainpage_img7.png' %}"
        alt="honey drip"
        class="honey-drip-img">
    </div>
    <div class="month-header">
        <img src="{% static 'assets/images/mainpage_img_june.png' %}"
            alt="month image"
            class="month-img">
        <div class="month-header-text">5일 연속 출근 완료!<br>오늘 수집할 일들을 확인해보세요! 🍯</div>
        <img src="{% static 'assets/images/mainpage_img5.png' %}"
        class="three-honeys">
        <img src="{% static 'assets/images/mainpage_buzzlist_img.png' %}"
        class="buzzlist-img">
        <img src="{% static 'assets/images/mainpage_buddypage_img.png' %}"
        class="buddypage-img">
        <img src="{% static 'assets/images/mainpage_mypage_img.png' %}"
        class="mypage-img">
        <img src="{% static 'assets/images/mainpage_honeypot_img.png' %}"
        class="honeypot-img">
        <div clsass="amount-of-honey">
            <div class="amount-of-honey-text">현재 수집된 꿀</div>
            <div class="amount-of-honey-num">50g</div>
        </div>
    </div>
    <img src="{% static 'assets/images/mainpage_honey_img1.png' %}"
    class="honey-deeper">
    <img src="{% static 'assets/images/mainpage_bee_img2.png' %}"
    class="flower-img">
    <div class="calendar-container">
        <div class="calendar-header">
            <button id="prevBtn">이전</button>
            <div id="currentMonth" class="current-month"></div>
            <button id="nextBtn">다음</button>
        </div>
        <div class="calendar-days">
            <div class="day" style="color: red;">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day" style="color: blue;">토</div>
        </div>
        <div class="calendar-dates" id="calendarDates"></div>
    </div>

    <script src="{% static 'js/main/mainpage.js' %}"></script>
</body>

{% endblock %}