<!-- main/templates/main/mainpage.html -->
{% block content %} 
{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/mainpage.css'%}"
/>
<title>메인페이지</title>
<body>
    <div class="honey-head">
        <img src="{% static 'assets/images/mainpage_img7.png' %}"
        alt="honey drip"
        class="honey-drip-img">
        <img src="{% static 'assets/images/mainpage_img7.png' %}"
        alt="honey drip"
        class="honey-drip-img">
    </div>
    <div class="month-header">
        <img src="{% static 'assets/images/mainpage_img_june.png' %}"
            alt="month image"
            class="month-img">
        <div class="month-header-text">5일 연속 출근 완료!<br>오늘 수집할 일들을 확인해보세요! 🍯</div>
        <img src="{% static 'assets/images/mainpage_img5.png' %}"
        class="three-honeys">
        <img src="{% static 'assets/images/mainpage_buzzlist_img.png' %}"
        class="buzzlist-img">
        <img src="{% static 'assets/images/mainpage_buddypage_img.png' %}"
        class="buddypage-img">
        <img src="{% static 'assets/images/mainpage_mypage_img.png' %}"
        class="mypage-img">
        <img src="{% static 'assets/images/mainpage_honeypot_img.png' %}"
        class="honeypot-img">
        <div clsass="amount-of-honey">
            <div class="amount-of-honey-text">현재 수집된 꿀</div>
            <div class="amount-of-honey-num">50g</div>
        </div>
    </div>
    <div class="hex-container">
        <div class="hex">1</div>
        <div class="hex">2</div>
        <div class="hex">3</div>
        <div class="hex">4</div>
        <div class="hex">5</div>
        <div class="hex">6</div>
        <div class="hex">7</div>
        <div class="hex">8</div>
        <div class="hex">9</div>
        <div class="hex">10</div>
        <div class="hex">11</div>
        <div class="hex">12</div>
        <div class="hex">13</div>
        <div class="hex">14</div>
        <div class="hex">15</div>
        <div class="hex">16</div>
        <div class="hex">17</div>
        <div class="hex">18</div>
        <div class="hex">19</div>
        <div class="hex">20</div>
        <div class="hex">21</div>
        <div class="hex">22</div>
        <div class="hex">23</div>
        <div class="hex">24</div>
        <div class="hex">25</div>
        <div class="hex">26</div>
        <div class="hex">27</div>
        <div class="hex">28</div>
        <div class="hex">29</div>
        <div class="hex">30</div>
    </div>
    <div class="honey-foot">
        <img src="{% static 'assets/images/mainpage_img6.png' %}"
        alt="honey drip reverse"
        class="honey-drip-img-flip-vertically">
        <img src="{% static 'assets/images/mainpage_img6.png' %}"
        alt="honey drip reverse"
        class="honey-drip-img-flip-vertically2">
    </div>
    <img src="{% static 'assets/images/mainpage_honey_img1.png' %}"
    class="honey-deeper">
    <div class="bee-text">🐝</div>
    <img src="{% static 'assets/images/mainpage_img3.png' %}"
    class="mainpage-img3">
    <img src="{% static 'assets/images/mainpage_bee_img2.png' %}"
    class="flower-img">
</body>

{% endblock %}