
{% block content %} 
{% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/mainpage.css'%}"
/>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Fredoka:wght@300..700&family=Henny+Penny&family=Jua&display=swap" rel="stylesheet">
</head>

<title>mainpage</title>
<body data-userid="{{ target_user.id }}">
    <div class="honey-head">
        <img src="{% static 'assets/images/mainpage_img7.png' %}"
        alt="honey drip"
        class="honey-drip-img">
        <img src="{% static 'assets/images/mainpage_img7.png' %}"
        alt="honey drip"
        class="honey-drip-img">
    </div>
    <div class="main-wrapper">
        <div class="month-header">
            <div class="row" style="display: flex; flex-direction: row;">
                <div class="year-month">
                    <div id="currentYear" class="current-year"></div>
                    <div id="currentMonth" class="current-month"></div>
                </div>

                <div class="month-header-text">
                    {{ user_id }}님, 환영합니다.<br>오늘 수집할 일들을 확인해보세요! 🍯
                </div>
            </div>
            <div class="top-bar">
                <a href="/accounts/buddypage/{{user.id}}/">
                    <img src="{% static 'assets/images/mainpage_buddypage_img.png' %}"
                    class="buddypage-img">
                </a>
                <a href="/users/mypage/{{ user.id }}/">
                <img src="{% static 'assets/images/mainpage_mypage_img.png' %}"
                class="mypage-img">
                </a>
                <img src="{% static 'assets/images/mainpage_honeypot_img.png' %}"
                class="honeypot-img">
                <div class="amount-of-honey">
                    <div class="amount-of-honey-text">현재 수집된 꿀</div>
                    <div class="amount-of-honey-num">{{ honey_count }}g</div>
                </div>
            </div>
        </div>
        <div class="calendar-container">
            <div class="calendar-wrapper">
                <div class="prev-sector">
                    <img src="{% static 'assets/images/arrow_img.png' %}" id="prevBtn" class="prev-btn">
                    <div class="prev-txt">이전 달</div>
                </div>
                <div class="column" style="display: flex; flex-direction: column;">
                    <div class="calendar-days">
                        <div class="day" style="color: red;">SUN</div>
                        <div class="day">MON</div>
                        <div class="day">TUE</div>
                        <div class="day">WED</div>
                        <div class="day">THU</div>
                        <div class="day">FRI</div>
                        <div class="day" style="color: blue;">SUN</div>
                    </div>
                    <div class="calendar-dates" id="calendarDates"></div>
                </div>
                <div class="next-sector">
                    <img src="{% static 'assets/images/arrow_img.png' %}" id="nextBtn" class="next-btn">
                    <div class="next-txt">다음 달</div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'assets/images/mainpage_honey_img1.png' %}"
    class="honey-deeper">
    <img src="{% static 'assets/images/mainpage_bee_img2.png' %}"
    class="flower-img">
    <img src="{% static 'assets/images/bebee_char_img2.png' %}"
    class="char-img2">
    <img src="{% static 'assets/images/bebee_char_img3.png' %}"
    class="char-img3">
    <img src="{% static 'assets/images/mainpage_img4.png' %}"
    class="flower-img2">
    <img src="{% static 'assets/images/mainpage_img3.png' %}"
    class="honey-img">
    <script src="https://kit.fontawesome.com/c8e7849976.js" crossorigin="anonymous"></script>
    {{ daily_success_list|json_script:"success-rates-data" }}
    <script src="{% static 'js/main/mainpage.js' %}"></script>
</body>

{% endblock %}